# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Databases / Backups
# =========================
*.sqlite3
db.sqlite3
*db.sqlite3*

*.json
!package.json
!tsconfig.json

*.dump
*.sql
*.backup
*.bak

/backups/
/backup*/
restore_list.txt
filtered_restore.txt

# =========================
# Media / Static
# =========================
/media/
/static_root/
/staticfiles/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# SSL / Keys
# =========================
*.key
*.crt
*.pem

# =========================
# Temp
# =========================
tmp/
temp/
*.tmp
nul
