{% extends 'base.html' %}

{% block title %}Catálogo de Livros - CG.BookStore{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Nosso Catálogo</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for book in books %}
        <div class="col">
            <div class="card h-100 book-card">
                 {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" class="card-img-top book-cover" alt="{{ book.title }}">
                {% else %}
                    <img src="https://via.placeholder.com/300x400.png?text=Capa+Indisponível" class="card-img-top book-cover" alt="Capa indisponível">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text text-muted">{{ book.author.name }}</p>
                    <p class="price">R$ {{ book.price }}</p>
                    <a href="{% url 'core:book_detail' book.slug %}" class="btn btn-primary w-100">
                        <i class="fas fa-eye me-2"></i>Ver Detalhes
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Nenhum livro encontrado no catálogo.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}